@import "../../foundation/responsive";
@import "../../foundation/color.scss";

.p-access {
  position: relative;
  height: 649px;
  margin: 0 367px 0 0;
  @include iPad {
    margin: 0;
    height: 415px;
  }
  @include iPhone {
    height: 691px;
  }
  & iframe {
    position: absolute;
    z-index: 0;
    opacity: 0.75;
    width: 100%;
    height: 649px;
    @include iPad {
      height: 415px;
    }
    @include iPhone {
      height: 691px;
    }
  }
  &__content {
    position: absolute;
    z-index: 7;
    background-color: rgba(0, 0, 0, 0.29);
    color: $white;
    max-width: 950px;
    height: 649px;
    @include iPad {
      height: 415px;
    }
    @include iPhone {
      max-height: 415px;
    }
    & h2 {
      padding: 8.74% 0 0 12.52%;
      font-size: 2.25rem;
      @include iPad {
        padding: 4.8% 0 0 5.04%;
        font-size: 1.875rem;
      };
    }
    & h2::after {
      @include h2-bottom-bar__access;
    }
    & p {
      padding: 6.63% 14.1% 0 12.52%;
      font-size: 1rem;
      line-height: 2.0;
      overflow: hidden;
      max-height: 460px;
      @include iPad {
        padding: 2.4% 5.04% 0 5.04%;
        max-height: 97.6%;
        font-size: 0.875rem;
        max-height: 269px;
      }
      @include iPhone {
        max-height: 518px;
        padding: 5.335% 10.67% 0;
      }
    }
  }
  &::before {
    background-color: $black;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 649px;
    @include iPad {
      height: 415px;
    }
    @include iPhone {
      height: 691px;
    }
  }
}